@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
    'Pretendard Variable', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  font-size: 16px;
  font-weight: 400;

  --grayscale-alt: #ffffffb2;
  --grayscale-white: #ffffff;
  --grayscale-50: #f5f7f9;
  --grayscale-100: #d2dae0;
  --grayscale-200: #879298;
  --grayscale-300: #6e8091;
  --grayscale-400: #5f6e76;
  --grayscale-500: #4b5966;
  --grayscale-black: #14212b;

  --blue-100: #7890e7;
  --blue-500: #4362d0;

  --font-size-small: 12px;
  --font-size-regular: 14px;
  --font-size-medium: 16px;
  --font-size-large: 24px;

  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --border-default: 1px solid var(--grayscale-100);
  --border-bold: 1px solid var(--grayscale-300);
  --radius-default: 8px;
  --radius-circle: 50px;

  --drop-shadow: 0px 4px 2px rgba(20, 33, 43, 0.02),
    0px 2px 18px rgba(20, 33, 43, 0.08);
}

h1 {
  margin: 0;
  font-size: var(--font-size-large);
}

p {
  margin: 0;
}
